*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{

background:linear-gradient(135deg,#07192f,#0d2648);

height:100vh;

display:flex;

justify-content:center;

align-items:center;

}

.login-box{

width:420px;

background:white;

padding:40px;

border-radius:20px;

text-align:center;

box-shadow:0 20px 50px rgba(0,0,0,.35);

}

.logo{

width:90px;

margin-bottom:15px;

}

.login-box h1{

color:#0d2648;

margin-bottom:5px;

}

.login-box p{

color:#777;

margin-bottom:30px;

}

.input-box{

position:relative;

margin-bottom:20px;

}

.input-box input{

width:100%;

padding:15px 45px;

border:1px solid #ddd;

border-radius:10px;

font-size:15px;

outline:none;

}

.input-box i:first-child{

position:absolute;

left:15px;

top:17px;

color:#00bfff;

}

.eye{

position:absolute;

right:15px;

top:17px;

cursor:pointer;

color:#888;

}

button{

width:100%;

padding:15px;

background:#00bfff;

color:white;

border:none;

border-radius:10px;

font-size:16px;

font-weight:600;

cursor:pointer;

transition:.3s;

}

button:hover{

background:#0099cc;

}

.back-btn{

display:block;

margin-top:20px;

text-decoration:none;

font-weight:600;

color:#0d2648;

}

.back-btn:hover{

color:#00bfff;

}