*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:linear-gradient(135deg,#071623,#0b4f8a,#00b4ff);

}

.container{

width:100%;

display:flex;

justify-content:center;

align-items:center;

}

.card{

width:400px;

background:rgba(255,255,255,.15);

backdrop-filter:blur(18px);

padding:40px;

border-radius:25px;

box-shadow:0 20px 50px rgba(0,0,0,.3);

text-align:center;

}

.logo{

width:90px;

margin-bottom:20px;

}

.card h2{

color:white;

margin-bottom:25px;

}

input{

width:100%;

padding:15px;

margin-bottom:18px;

border:none;

border-radius:10px;

font-size:16px;

}

button{

width:100%;

padding:15px;

background:#00d4ff;

border:none;

border-radius:10px;

font-size:18px;

color:white;

cursor:pointer;

transition:.3s;

}

button:hover{

background:white;

color:#071623;

}

p{

margin-top:20px;

color:white;

}

a{

color:#00d4ff;

text-decoration:none;

font-weight:bold;

}